
.Edit-label{
    text-align:center;
    font-size: 1.5em;
    font-weight: 300;
}


.Edit-button{
    background: rgb(145, 147, 226);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    width: 20%;
    margin-top:15px;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;  
    
}

.Edit-button:hover {
    background: #a4f5bc;
  }
  
  
  .Edit-button:focus  {
    border-color: #a4f5bc;
  }