@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


.Entries-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(lightblue, rgb(119, 115, 175));
    min-height: 100vh;
  
}



.Entry-delete-button{
    background: rgb(145, 147, 226);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 20.7%;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em; 
    display: inline;
}
.Entry-delete-button:hover, .Entry-edit-button:hover {
    background: #a4f5bc;
  }
  
.Entry-delete-button:focus, .Entry-edit-button:focus {
    border-color: #a4f5bc;
  }

.Entry-edit-button{
    margin-left:15px;
    text-decoration: none;
    background: rgb(145, 147, 226);
    border-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 23.5%;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    outline: 0;
    font-size: 0.95em; 
    display: inline;
    
}

.Edit-button-text{
    color: #fff;
    text-decoration: none;
}


.Entry-single {
    list-style:none;
    font-family: 'Open Sans', sans-serif;
    

}

.Entry-all-title{
    margin-top:10px;
    margin-left:39px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;

}

.Entry, .title, .content{
    font-family: 'Open Sans', sans-serif;


}

.Entry-all-title{    
    color: #555;

}

.title{
    font-weight: 400;
}

.content{
    margin-right:40px;
}

.Entry {
    border : 1px  transparent;
    background-color:rgba(237, 214, 205, 0.527);
    margin-left:20px;
    margin-right:40px;
    padding:20px;
    color: #555;

}


/*tablet media query*/
@media screen and (min-width: 768px) {


.Entry-delete-button{
    background: rgb(145, 147, 226);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 9.7%;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em; 
    display: inline;
    }


.Entry-edit-button{
    margin-left:15px;
    text-decoration: none;
    background: rgb(145, 147, 226);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    width: 9.5%;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    outline: 0;
    font-size: 0.95em; 
    display: inline;
    
}

.Entry {
    border : 1px  transparent;
    background-color:rgba(237, 214, 205, 0.527);;
    margin-right:40px;
    padding:20px;
    color: #555;

}


}
