@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Open Sans', sans-serif;
}


.logo{
    margin-top: 20px;
    margin-left:95px;
}

.login, .sign-up {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header, .sign-up-header
.login p , .sign-up{
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle , .sign-up-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(145, 147, 226);
}

.login-header , .sign-up-header {
  background: rgb(145, 147, 226);
  padding: 15px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background-image: url("https://image.freepik.com/free-vector/earth-tone-patterned-background_53876-89932.jpg");
  padding: 30px;
  }

.sign-up-container {
    background-image: url("https://image.freepik.com/free-vector/earth-tone-patterned-background_53876-89932.jpg");
    padding: 30px;

}  

/* Every row inside .login-container is defined with p tags */
.login p .sign-up p{
  padding: 12px;
}

.login input, .sign-up input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="username"],
.login input[type="password"],
.sign-up input[type="username"],
.sign-up input[type="password"],
.sign-up input[type="firstname"],
.sign-up input[type="lastname"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="username"]:focus,
.login input[type="password"]:focus,
.sign-up input[type="username"]:focus,
.sign-up input[type="password"]:focus,
.sign-up input[type="firstname"]:focus,
.sign-up input[type="lastname"]:focus {
  border-color: #888;

}

.login-button, .sign-up-button {
  background: rgb(145, 147, 226);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  width: 50%;
  margin-left:90px;
  margin-top:15px;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.logout-button {
  background: rgb(145, 147, 226);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  width: 15%;
  margin-top:0px;
  border-width: 1px;
  border-style: solid;
  padding: 12px;
  outline: 0;
  font-family: inherit;
  font-size: 0.85em;  
}



.logout-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-top: 0px;
  margin-top: 0px;;

}

.login-button:hover, .sign-up-button:hover ,.logout-button:hover {
  background:  #9af2b5;
}

/* Buttons' focus effect */
.login-button:focus, .sign-up-button:focus , .logout-button:focus {
  border-color: #9af2b5;
}

.Sign-up-prompt{
    text-align:center;
}


.about-app{
  font-size: 15px;
  text-align: center;
  color: rgb(106, 105, 105);
  font-weight: 50;
  margin:0px;
}

.demo-container{
  font-size: 12px;
  text-align: center;
  color: rgb(106, 105, 105);
  font-weight: 50;
  margin-top:40px;
  border : 1px solid  #a4f5bc;
  padding: 5px;


}


/*tablet media query*/
@media screen and (min-width: 768px) {


.logout-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 50px;
  padding-top: 0px;


}

  .logout-button {
    background: rgb(145, 147, 226);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    width: 10%;
    margin-top:0px;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;  
}


}