body {
    background-color:#fcf4f4;
}

/* .title{
    margin-left: 600px;
    margin-right: 600px;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;

}

input {
    margin-left: 600px;
    margin-right: 600px;
    margin-top:5px;
    margin-bottom:5px;

}

button{
    margin-left: 650px;
    margin-right: 650px;
    margin-top:10px;
    margin-bottom:10px;
}

.giphy{
    margin-left:600px;
} */