@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);



.sun-ray {
  margin-left:640px;
}

.calendar-table{
  margin-top:0px;
}

.welcome-message{
  margin-left:490px;
  padding: 0px;
  margin-top:0px;
  color:  #555;
  font-family: 'Open Sans', sans-serif;
  font-weight: 520;
  font-size: 2.0em;

}

.welcome-sparks, .welcome-message{
  display: inline;
}

.welcome-sparks{
  margin-left:100px;
}