/* 

.login-view{  
  min-height: 100vh;


}



.edit-view{
  background: url("https://i.pinimg.com/originals/d4/d5/38/d4d538153c0c33e1f1b478040c15b9d4.jpg");
  min-height: 100vh; 
  border: 1px solid white;
  margin-top:0px;

}

.scream-view{
  background-color: black;
  min-height: 100vh;
  border: 1px solid black;
  margin-top:0px;
}  */